<h1>People Index</h1>

<div class="row">
    <div class="col-md-3">
        <%= form_tag people_path, method: "get" do %>
        <%= text_field_tag(:search, params[:search],class: 'form-control') %>
        <% end %>
    </div>
</div>
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th style="width:10%;"></th>
        </tr>
    </thead>
    <tbody>
        <% @people.each do |p| %>
        <tr>
            <td><%=p.name%></td>
            <td><%=p.address%></td>
            <td><%=p.phone%></td>
            <td class="text-center">
                <a class="btn btn-default" href="<%= url_for(p) %>">View</a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @people %>
<a class="btn btn-primary pull-right" href="<%=new_person_path%>">New</a>

